<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Electro</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {%include 'components/_style.html'%}

</head>

<body>

    {%include 'components/_spinner_start.html'%}


    {%include 'components/_topbar.html'%}


    {%include 'components/_navbar.html'%}

    {%include 'components/_carousel.html'%}

    {%include 'components/_searvices.html'%}

    {%include 'components/_offer.html'%}


    {%include 'components/_our_product.html' %}

    {%include 'components/_product_banner.html' %}

    {%include 'components/_product_list.html' %}


    {%include 'components/_bestseller_products.html' %}

    {% block content %}
    {% endblock %}

    {%include 'leyout/_footer.html' %}


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>





</body>

</html>
